<template>
  <div class="container">
	  <button @click="logout"
	          class="py-1 px-8 rounded-xl text-white bg-red-500 h-10 absolute right-10">
		  Выйти
	  </button>
	  
	  <h1 class="text-6xl mb-6">Работа с клиентами</h1>
	  <form class="form" @submit.prevent="submit">
		  <div class="form__el-wrapper">
			  <select required v-model="currentDataType" @change="getData" class="mb-3 text-center">
				  <option v-for="type in types" :value="type.value">{{type.title}}</option>
			  </select>
		  </div>
		  <div class="form__el-wrapper">
		    <input v-model="form.name" required type="text" class="mb-3 text-center" placeholder="Имя">
		  </div>
		  <div class="form__el-wrapper">
		    <input v-model="form.email" required type="email" class="mb-3 text-center" placeholder="E-mail">
		  </div>
		  <div class="form__el-wrapper">
		   <input v-model="form.phone" required type="phone" class="mb-3 text-center" placeholder="Телефон">
		  </div>
		  <button type="submit" class="py-1 px-8 rounded-xl text-white bg-green-500 h-10">Создать</button>
	  </form>
		<hr class="w-full my-8"/>
	  <table class="w-full" border="1">
		  <caption>Клиенты</caption>
		  <tr>
			  <th>Имя</th>
			  <th>E-mail</th>
			  <th>Телефон</th>
		  </tr>
		  <tr v-for="client in data">
			  <td class="py-2">{{client.name}}</td>
			  <td class="py-2">{{client.email}}</td>
			  <td class="py-2">{{client.phone | formatPhone}}</td>
		  </tr>
	  </table>
  </div>
</template>

<script>
const EMPTY_CLIENT_FORM = {
	name: '',
	email: '',
	phone: '',
};
const TYPES = [
	{title: 'MySQL', value: 'mysql'},
	{title: 'Redis', value: 'redis'},
	{title: 'JSON', value: 'json'},
	{title: 'XLSX', value: 'xlsx'},
];

export default {
	middleware: ["auth"],
	data: () => ({
		form: {...EMPTY_CLIENT_FORM},
		currentDataType: 'mysql',
		data: [],
		types: TYPES,
	}),
	methods: {
		async submit() {
			try {
				const result = await this.$axios.$post(`/api/client/create?type=${this.currentDataType}`, {
					...this.form
				});
				
				this.$toast.success('Клиент добавлен');
				this.data.push({...this.form});
				this.form = {...EMPTY_CLIENT_FORM, type: this.form.type};
			} catch (e) {
				this.$toast.error(e.response.data.message);
			}
		},
		async getData() {
			try {
				const result = await this.$axios.$get(`/api/client/index?type=${this.currentDataType}`);
				
				this.data = result;
			} catch (e) {
				this.$toast.error('Не удалось получить данные, обратитесь к админестратору');
			}
		},
		logout() {
			this.$store.dispatch('auth/logout');
			this.$router.push('/login');
		},
	},filters: {
		formatPhone(phone) {
			const phn = phone.toString();
			return `${phn.substring(0, 1)}(${phn.substring(1,4)})${phn.substring(4,7)}-${phn.substring(7,9)}-${phn.substring(9)}`;
		}
	},
	created () {
		this.getData();
	}
}
</script>

<style scoped>
*:focus {
	outline: none;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
	padding-top: 30px;
	flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.form {
	width: 100%;
	display: flex;
	margin: 0 -10px;
	align-items: center;
}
.form__el-wrapper {
	flex: 1;
	padding: 0 10px;
}
input, select {
	background: none;
	color: #2d2d2d;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
}

caption {
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 25px;
}
</style>
