<template>
	<div class="flex items-center justify-center h-screen">
		<div class="bg-gray-300 sm:rounded-xl p-6">
			<h2 class="text-black text-center text-base mb-7 sm:text-xl lg:text-base xl:text-xl font-semibold truncate">
				Авторизация
			</h2>
			
			<form class="flex flex-column justify-center" @submit.prevent="login">
				<input v-model="email" required type="email" class="mb-3 text-center" placeholder="E-mail">
				<input v-model="password" required type="password" class="mb-10 text-center" placeholder="Пароль">
				<button type="submit" class="py-3 px-8 rounded-xl text-white bg-indigo-700">Вход</button>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	data: () => ({
		email: '',
		password: '',
	}),
	methods: {
		login: async function () {
			try {
				
				await this.$store.dispatch('auth/login', {
					email: this.email,
					password: this.password,
				});
				
				this.$router.push('/');
			} catch (e) {
				console.log(e);
			}
		},
	},
}
</script>

<style scoped>
input, button {
	outline: none;
}

.flex-column{
	flex-direction: column;
}

input {
	background: none;
	color: #2d2d2d;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 320px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
}
</style>
